#search-parts-area input#search {
  display: block;
  @include media($tablet-and-mobile) {
    width: 82%;
  }
  @include media($mobile) {
    width: 100%;
  }
}

#search-parts-area form {
  @include media($mobile) {
    text-align: center;
  }
}

#full-width > h3 {
  margin-top: 2em;
}

#page-title h1 {
  @include media($tablet-and-mobile) {
    text-align: center;
    width: 100%;
    border-right: 0 solid transparent;
  }
}

#page-title p {
  @include media($mobile) {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
}

.body-find-your-part .featured-part {
  @include media($tablet-and-mobile) {
    float: none;
    width: 50%;
    margin: 3em auto;
  }

  @include media($mobile-portrait) {
    width: 75%;
  }
}

.result {
  @include media($tablet-and-mobile) {
    width: 49%;
  }
  @include media($mobile) {
    text-align: center;
    width: 100%;
  }
}

.result img {
  @include media($mobile) {
    float: none;
    margin: 0 auto;
  }
}

.part-img {
  @include media($tablet-and-mobile) {
    @include span-columns(12);
  }

  .part-info-below td {
    @include media($mobile) {
      padding-left: 5px;
    }
  }
}

h3.h3-mobile-styles {
  @include media($tablet-and-mobile) {
    font-size: 15px !important;
  }
}

.part-info-right {
  @include media($tablet-and-mobile) {
    @include span-columns(12);
    display: block;
    padding-top: 15px;
    padding-left: 0;
  }

  a {
    @include media($tablet-and-mobile) {
      margin-bottom: 15px;
    }
  }
}

.part-info-below table {
  @include media($mobile-portrait) {
    font-size: 13px;
  }
}

#part_questions {
  @include media($mobile) {
    width: 90% !important;
  }

  label {
    @include media($mobile) {
      width: 100%;
    }
  }
}

.sidebar-buttons {
  .green-button {
    background-color: green;
    height: 38px;
    padding: 0;
  }
}

#field_add_to_cart_submit {

  .green-button {
    @include media($mobile) {
      height: 38px;
      padding: 0 16px;
    }
  }
}

@include media($tablet-and-mobile) {
  .category-item {
    width: 27%;
  }
}

@include media($mobile) {
  .category-item {
    width: 25%;
  }
}

@include media($mobile-portrait) {
  .category-item {
    width: 36%;
  }
}