#full {
  @include media($tablet-and-mobile) {
    background-position: 450px 10px;
    margin-top: 25px;
  }

  @include media($mobile-landscape) {
    background-position: 200px 10px;
    margin-top: 25px;
  }

  @include media($mobile-portrait) {
    background-position: 10px 10px;
    margin-top: 35px;
  }
}

//specific home styles

#home-page {
  #full-content {
    @include media($tablet-and-mobile) {
      margin-top: 150px;
    }
  }

  #attention {
    @include media($tablet-and-mobile) {
      @include span-columns(12);
      padding-right: 40%;
      margin-bottom: 40px;
    }

    @include media($mobile) {
      padding: 0;
    }

    span.large {
      @include media($mobile) {
        font-size: 30px;
      }
    }
  }

  #blue-headline {
    @include media($tablet-and-mobile) {
      text-align: left;
      padding-left: 45px;
    }
  }

  span.way {
    @include media($tablet-and-mobile) {
      font-size: 14px;
      padding-left: 15px;
    }
  }

  .third {
    @include media($mobile) {
      @include span-columns(12);
      margin-top: 45px;
      margin-right: 0;
    }
  }
  .infobox {
    height: auto;

    @include media($mobile-portrait) {
      @include span-columns(12);
      height: 240px;
      margin-right: 0;
    }

    @include media($tablet-and-mobile) {
      height: 340px;
    }

    img {
      @include media($mobile-landscape) {
        width: 100%;
      }
    }
  }
}

input#search {
  box-sizing: border-box;
  width: 93%;
}

input.search-submit {
  background-color: #0576BC;
  color: #FFF;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0 solid transparent;
  height: 32px;
  margin: 5px 0;
  line-height: 0;
}

#field_submit-search {
  float: left;
  clear: none;
}

#field_search {
  clear: none;
  overflow: auto;
  float: left;
}

.search-wrapper {
  overflow: auto; //Simple clearfix
}
@include media($tablet-and-mobile) {
  #field_search {
    width: 100%;
  }

}

#field_search {
  input[id="search"] {
    @include media($tablet-and-mobile) {
      width: 98% !important;
    }
  }
}

ul.categories {
  li {
    @include media($mobile) {
      width: 45%;
    }
  }
}

// @include media($mobile) {
//   #field_search {
//     width: 84%;
//   }
// }

// @include media($mobile-portrait) {
//   #field_search {
//     width: 74%;
//   }
// }
