#body-remanufactured-long-block-engines #page-title h1 {
  font-size: 28px;
}

#body-remanufactured-long-block-engines #content {
  text-align: center;
}

#body-remanufactured-long-block-engines #content p, #body-remanufactured-long-block-engines #content ul {
  text-align: left;
}

#body-remanufactured-long-block-engines .img-right {
  width: 100%;
  max-width: 320px;
}

#body-remanufactured-long-block-engines .lightbox img {
  width: 100%;
  max-width: 300px;
}
