#content {
  max-width: 692px;
  width: 100%;
}

#sidebar {
  @include media($tablet-and-mobile) {
    float: none;
    margin: 0 auto;
  }
}

.half {
  @include media($mobile) {
    width: 100%;
  }
}

#field_contact_antispam .textbox {
  @include media($mobile) {
    margin-right: 17px;
  }
}

.submit {
  @include media($mobile) {
    margin-right: 15px;
  }
}

#sidebar {
  margin-bottom: 2em;
}