@media all and (max-width:960px) {
  #footer .third {
    width: 50%
  }

  #footer .third.last {
    margin-top: -170px
  }
}

@media all and (max-width:770px) {
  #footer .third {
    width: 100%
  }

  #footer .third.second {
    margin-top: 150px;
  }

  #footer .third.last {
    margin-top: -450px;
    text-align: center;
  }
}

@media all and (max-width: 520px) {
  #footer .third.last {
    margin-top: -510px;
    text-align: center;
  }
}