@include media($tablet-and-mobile) {
  .menu-items {
    display: none;
  }

  .phone-area {
    display: block;
    height: 35px;
    position: absolute;
    top: 28px;
  }

  .cart-text {
    display: none;
  }

  #cart {
    bottom: 70px;
    left: 570px;
    background-color: #0576BC;
  }
  #cart::before {
    top: 0;
  }

  #cart::before {
    border-color: transparent #0576BC transparent transparent;
  }

  #cart::after {
    border-color: transparent transparent transparent #0576BC;
  }

  #mobile-menu {
    margin-top: -59px;
  }
}

@include media($mobile) {
  #cart {
    bottom: 11px;
    left: 350px;
  }
}

@include media($mobile-portrait) {
  #cart {
    bottom: -47px;
    left: 210px;
  }
}