/* ADMIN ONLY STYLESHEET */

@charset "utf-8";
/* keep vertical scroll bar in place to prevent "jumping" */
html {
	height:100%;
	margin-bottom:1px;
	padding-bottom:1px;
}

/* add the following class to container to clear all floats inside */
.cleared:after, .container:after, .half:after, #quote:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.two-thirds {
	float: left;
	width: 64%;
	padding-right: 2%;
}
body {
	font-family:Arial, Helvetica, sans-serif;
}
.contained {
	width:96%;
	margin:0 auto;
	padding:0 2%;
}

#top-container {
	background-color: #0576bc;
	color:white;
}
#notice-top {
	background-color: #004f7c;
	padding: 5px;
}
#notice-top p {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#notice-top a {
	color: #FFF;
}
#top {
	padding-top:5px;

}
#top h1 {
	font-size:40px;
	float:left;
}
#top #view-site {
	display: inline-block;
	margin-top: 26px;
	margin-left: 6px;
	color:#CCC;
	text-decoration: none;
}
#menu {
	float:right;
	padding:0 10px;
	margin-top: 14px;
}
#menu a {
	float:left;
	display:block;
	position: relative;
	z-index: 300;
	margin:0 2px;
	padding:6px 15px 5px;
	text-align:center;
	color:#F5F5F5;
	text-decoration:none;
	font-size:18px;
	margin-bottom:-14px;
	overflow:hidden;
	background-color: #0576BC;
}
#menu a:hover {
	background-color: #1e8ccc;
}
#menu a.current {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F5F5F5',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* W3C */
	padding-bottom: 10px;
	color:red;
	position: relative;
	z-index: 999;
}
#links {
	float:right;
	font-size:14px;
	padding-top:12px;
}
#links a {
	color:white;
	margin-left:10px;
}
.breadcrumbs {
	display: block;
	margin: 0 auto;
	padding:10px 30px;
	font-size: 16px;
	background-color: whitesmoke;
}
#main-container {
	border-top: 2px solid #01598c;
}
#main {
	padding:20px 0;
}
h1 {
	font-weight: bold;
	font-size: 36px;
	display: inline-block;
}
h2 {
	font-weight:normal;
	font-size:30px;
	margin-bottom:12px;
	display: inline-block;
	padding-right: 5px;
}
h3 {
	font-weight:normal;
	font-size:24px;
	margin:10px 0;
}
p {
	margin:8px 0;
	font-size:15px;
}
.half {
	float:left;
	width:45%;
	max-width: 45%;
	padding:1%;
	overflow: show;
}
.half:active {
	padding: 1%;
	margin: 0;
	width: 45%;
	max-width: 47%;
	float: left;
	/*overflow: scroll;*/
}
.centered {
	margin: 0 auto;
	text-align: center;
}
.today, .month {
	text-align:center;
	padding:4px;
	font-size:15px;
	font-weight:bold;
	margin:8px 0;
}
.today {
	background-color:#CF6;
	border:1px solid #B1FF0F;
}
.month {
	background-color:#A7BFD8;
	border:1px solid #739BC2;
}
.quickstat {
	float:left;
	width:20%;
	text-align:center;
	font-size:15px;
}
.quickstat strong {
	font-size:25px;
}
.quickstat strong.urgent {
	color:#900;
}
.quickstat strong.urgent a {
	color: #900;
}
#submenu {
	text-align: center;
}
#submenu a {
	background-color:#FFDE8F;
	color:#000;
	font-size:17px;
	font-weight:bold;
	float:left;
	display:block;
	text-decoration:none;
	padding:4px 10px;
	text-align:center;
	margin:5px 3px;
}
#submenu a:hover, #submenu a.current {
	background-color: #0576BC;
	color:white;
}
#submenu a.green {
	background-color: #8ACC48;
	color:white !important;
}
#quote {
	border:solid 2px black;
}
#quote .info {
	background-color:#999;
	color:#FFF;
	padding:9px;
}
#quote .info span, .listed-quote span {
	display:inline-block;
	margin-right:30px;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
}
#quote .info span.status {
	text-transform:uppercase;
	font-weight:bold;
}
.listed-quote {
	background-color:#EFEFEF;
	color:#000;
	padding:9px;
	border-bottom:2px solid #CCC;
}
.listed-quote a {
	font-size:22px;
	color:#000;
}
#request_modal .popup_content {
	height: 600px; 
	overflow: auto;
}
#request_modal .popup_content label {
	width: 80px;
}
#request_modal .popup_content input {
	width: 260px;
}
#request_modal .popup_content textarea {
	width: 345px;
}
.fr {
	float:right;
	display:block;
}
.fl {
	float:left;
	display:block;
}
form .box {
	width: 400px;
	border: 3px solid #1F599C;
	margin: 0 auto;
	border-radius: 5px;
	padding: 25px;
	background-color: #7BB8E8;
}
input {
	padding:7px;
	font-size:16px;
	margin-bottom: 10px;
	width: 85%;
}
textarea {
	padding: 7px;
	font-size: 16px;
	margin-bottom: 10px;
	width: 85%;
	height: 150px;
}
select {
	font-size: 16px;
	padding:5px;
	max-width: 300px;
}
input, textarea, select {
	margin-bottom: 15px;
}
label {
	font-size: 16px;
	display: block;
	font-weight: bold;
}
.inline-field {
	margin-bottom: 10px;
}
.checkbox-field input, .checkbox-field label{
	display: inline-block;
}
.checkbox {
	margin-bottom: 0 !important;
	width: 15px;
}
table {
	width: 100%;
}
td {
	padding-left: 10px;
	text-align: left;
}
th {

	text-align: left;
	padding: 5px;
	background-color: #999;
	color: white;
}
table.large-list {
	min-width: 50%;
}
table.large-list tr {
	border-bottom: 2px solid #CCCCCC;
	background-color: #EFEFEF;
	padding: 5px;
	font-size: 18px;
}
table.large-list td {
	padding: 5px;
}
table.large-list a {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}
.loading {
   opacity: 0.5;
}

/* FORM STYLES */

form button[type=submit], a.add-button {
	background: #8ACC48;
	padding: 8px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin-bottom: 5px;
	margin-right: 5px;
}

form button[type=submit] {
	float: left;
}

a.cancel-button {
	display: inline-block;
	color: red;
	font-size: 14px;
	padding-top: 10px;
	padding-left: 10px;
}

.featured {
	margin-bottom:20px;
	line-height:.9;
}

#questions {
	display: block;
	padding: 40px 0;
}
#category .question {
	display: block;
	position: relative;
	background-color: white;
	clear: both;
	cursor: move;
	border-top: 2px solid #004F7C;
}
#category .question .readonly {
	background-color: whitesmoke;
}
#category .question textarea {
	border: 1px solid gray;
}

.notice {
	margin:0 auto;
	text-align:center;
	font-size:20px;
	color:white;
	font-weight:bold;
	padding:10px;
}
.notice.success {
	background-color:#8ACC48;
}
.notice.error {
	background-color:#C90;
}
#quote-requests tr td {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:16px;
}
#quote-requests tr:hover {
	cursor: pointer;
	background-color:#FFDE8F;
}
.handle {
	background-image: url(images/move-vertical.png);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 24px;
	min-width: 24px;
	cursor: row-resize;
}
.ui-state-highlight {
	height: 50px;
	padding: 5px;
	border-bottom: 2px solid #ccc;
	clear: both;
}
.large-font {
	font-size: 24px;
}
.red {
	color: red;
	
}