.category-items {
  width: 33%;
  height: auto;
}

.category-area {
  width: 33%;
  list-style: none;
}

.category-img {
  width: 100%;
}

.category-item {
  width:29%;
  max-height: 316px;
  margin: 20px;
}

.category-title {
  text-decoration: underline;
  color: #333333;
  font-size:19px;
  padding: 10px;
  text-align: center;
}
.category-link {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.category-row {
  display: flex;
  width: 100%;
}
.categories {
  display: flex;
  flex-flow: row wrap;
}