#header-container {
  margin-bottom: 80px;
}

#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: visible;
}

a.logo {
  margin: 5px;
  box-shadow: 0 0 12px rgb(51, 51, 51);
}

#top {
  display: flex;
  flex-flow: column nowrap;
  margin: 5px;
  flex-grow: 2;
}

#upper-items {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

#cart {
  margin: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;




  float: none;
  font-size: initial;
  color: white;
  text-decoration: none;
  height: auto;
  text-indent: 33px;
  line-height: 15.8667px;
}

#cart .strong-span {
  font-weight: bold;
  font-size: 2em;
}

.cart-text {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 5px;
}

.cart-text .inline-span {
  text-indent: 0;
}

.cart-text .tiny-text {
  text-indent: -1px;
  padding-left: 0;
}

.phone-area {
  display: flex;
  flex-flow: column nowrap;
  margin: 5px;
  justify-content: space-around;
}

.phone-area .text {
  font-size: 1.2em;
}

.phone-area .mobile-intlnumber {
  font-size: 1.2em;
}

#header-search {
  margin: 5px;
}

.menu-items {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.menu-item {
  margin: 5px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3em;
}