#header.contained {
  @include media($tablet-and-mobile) {
    position: relative;
    overflow: visible;
  }
  .text {
    @include media($mobile-portrait) {
      display: none;
    }

    @include media($tablet-and-mobile) {
      margin-left: 40px;
      margin-top: 20px;
    }

    @include media($mobile-landscape) {
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 230px;
    }

  }
}

#cart {

  @include media($tablet-and-mobile) {
    position: absolute;
    bottom: -125px;
    right: 50px;
    background-color: #05649f; /*#0576bc*/
    width: 90px;
    height: 35px !important;
    line-height: 1 !important;
    // padding-left: 33px;
    float: right;
    background-repeat:no-repeat;
    background-position:left center;
    background-size: 30px 30px;
  }

  @include media($mobile-portrait) {
    right: 10px;
  }

  span.strong-span {
    @include media($tablet-and-mobile) {
      position: absolute;
      left: 10px;
      font-weight: bold;
      padding-top: 5px;
    }
  }

  span.inline-span {
    @include media($tablet-and-mobile) {
      padding-top: 5px;
      padding-left: 10px;
      font-size: 10px;
      float: right;
      text-align: right;
    }
  }

}


#cart:before {
  display: none;

  @include media($tablet-and-mobile) {
    display: block;
    left: -10px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 35px 0;
    border-color: transparent #05649f transparent transparent;
  }
}

#cart:after {
  display: none;

  @include media($tablet-and-mobile) {
    top: 0px;
    display: block;
    right: -10px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 10px;
    border-color: transparent transparent transparent #05649f;
  }
}

span.tiny-text {
  @include media($tablet-and-mobile) {
    display: none;
  }
}

#menu {
  @include media($tablet-and-mobile) {
    display: none;
  }
}

#mobile-menu {
  display: none;
  padding: 40px 0;
  background-color: #0576bc;

  #header-search input, .search-input {
    @include span-columns(6);
    @include shift(3);
    margin-top: 40px;
    display: block
  }

  img {
    display: block;
    margin: auto;
  }

  a {
    @include media($tablet-and-mobile) {
      text-align: center;
      color:#FFF;
      text-decoration:none;
      font-size:28px;
      font-weight:bold;
      display: block;
      margin: 30px auto;
      padding: 10px;
    }
  }
}

#top.cleared {
  @include media($tablet) {
    float: left;
    width: 430px;
  }
}

.mobile-intlnumber {
  display: none;
  margin-top: 45px;
  margin-left: 50px;

  @include media($tablet-and-mobile) {
    display: block;
    clear: both;
  }

  @include media($mobile-landscape) {
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 220px;
    margin-top: 40px;
  }

  @include media($mobile-portrait) {
    display: none;
  }
}

.intlnumber {
  @include media($tablet-and-mobile) {
    display: none;
  }
}

#hamburger {
  display: none;
  cursor: pointer;

  @include media($tablet-and-mobile) {
    display: block;
    width: 50px;
    height: 35px;
    position: absolute;
    top: 28px;
    right: 80px;
  }

  @include media($mobile-landscape) {
    right: 40px;
  }

  @include media($mobile-portrait) {
    right: 0;
  }
}

a.logo {
  @include media($mobile-landscape) {
    @include span-columns(6);
    margin-top: 5px;
  }

  @include media($mobile-portrait) {
    @include span-columns(8);
    margin-top: 10px;
  }
}

img.logo {
  @include media($mobile-landscape) {
    // @include span-columns(8);
  }
}