// main
$tablet  : new-breakpoint(min-width 768px max-width 959px);
$mobile  : new-breakpoint(max-width 767px);

$mobile-landscape : new-breakpoint(min-width 515px max-width 767px);
$mobile-portrait  : new-breakpoint(max-width 514px);

// combined
$tablet-and-mobile  : new-breakpoint(max-width 959px);

$tablet-and-mobile  : new-breakpoint(max-width 959px);