#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 20px; left: 50%;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*overflow: scroll;*/
	/*max-height: 500px;*/
	margin-top: 0 !important;
}
.popup_block .popup_content {
	max-height: 500px;
	min-height: 200px;
	overflow: auto;
	display:block;
	padding-bottom: 20px;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/

.popup_content label {
	display:block;
	float:left;
	width:40%;
}
.popup_content .textbox {
	float:left;
	width:50%;
}
.popup_content .blue-button {
	height:30px;
	padding-top:4px;
	width: auto;
	background-color:transparent !important;
	border:0;
}