.container {
	width:800px;
	font-family:"Arial", Gadget, sans-serif;
}
.fr {
	float:right;
}
.fl {
	float:left;
}
.clearboth {
	clear:both;
}
h2 {
	margin-top:0;
}
.info {
	width:100%;
}
.questions {
	font-size:13px;
}