

@charset "utf-8";
/* keep vertical scroll bar in place to prevent "jumping" */
html {
	height:100%;
	margin-bottom:1px;
	padding-bottom:1px;
}

/* add the following class to container to clear all floats inside */
.cleared:after, .container:after, form:after, .infobox:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearboth {
	clear:both;
}

/* Selection text color */
::-moz-selection{ background: #B9B5AA; color:#fff; text-shadow: none; }
::selection { background:#B9B5AA; color:#fff; text-shadow: none; }

/*
@font-face {red
	src:
		local("font name"),
		local('fontName'),
		url(/font/font.ttf) format('truetype'),
		url(/font/font.otf) format('opentype');
	src: url(/font/font.eot); // IE - Must be last SRC to work
}
body {
	font-family: "font name";
}
*/

body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}
.container {
	margin:0 auto;
	width:100%;
}
.contained {
	margin:0 auto;
	width:960px;
	overflow: hidden;


	@include media($tablet) {
		width: 748px;
	}

	@include media($mobile-landscape) {
		width: 495px;
	}

	@include media($mobile-portrait) {
		width: 300px;
	}
}
#wrapper {
	min-height:600px;
}
#header-container {
	background-color:#0576BC;
	color:#FFF;
	height:90px;
	box-shadow: 0 0 12px #333;
	-webkit-box-shadow: 0 0 12px #333;
}

#header a, #header a:active, #header a:visited {
	color: white;
}

#logo {
	display:block;
	float:left;
	position:relative;
	top:4px;
	box-shadow: 0 0 12px #666;
	-webkit-box-shadow: 0 0 12px #666;
}
#top {
	padding:6px;
	float:right;
	width:620px;
}
#cart {
	float:left;
	font-size:12px;
	background-image:url(images/shopping-cart.png);
	background-repeat:no-repeat;
	background-position:left center;
	color: white;
	text-decoration: none;
	height:20px;
	text-indent:33px;
	margin:4px 10px 0 20px;
	line-height:20px;
}
#cart:hover {
	text-decoration: underline;
	color: #CCC;
}
.text {
	font-size:20px;
	float:left;
	line-height:20px;
	height:20px;
	margin:3px 5px 0;
}
.intlnumber {
	position:relative;
  float:right;
	margin-top:-25px;
	margin-right:290px;
}
p.small-text {
	font-size: 8px;
}
#search {
	float:left;
	margin-top:-3px;
}
#menu {
	text-align:right;
	margin-top:22px;
	clear:both;
}
#menu a {
	color:#FFF;
	text-decoration:none;
	margin-left:20px;
	font-size:16px;
	font-weight:bold;
	float:left;
	display:block;
}
#menu a:hover {
	color:#D8F0FE;
}
#menu a.first {
	margin-left:0;
}
#menu a.current {
	text-decoration: underline;
}
h1,h2,h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-style:italic;
}
#page-title {
	margin:45px 0 15px;
}
#page-title h1 {
	border-right:solid 2px black;
	float:left;
	font-size:30px;
	width:220px;
	padding:20px 25px 25px 0;
}
#page-title p {
	font-size:16px;
	line-height:1.7;
	padding:10px 10px 10px 25px;
	width:675px;
	float:left;
}
.submenu {
	list-style:none;
	margin:0;
	padding:0;
}
.submenu .submenu {
	text-indent: 15px;
}
.submenu .submenu .submenu {
	text-indent: 30px;
}
.submenu li {
	font-size:16px;
	font-style:italic;
	border-bottom:solid 1px #CCC;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.submenu li a {
	text-decoration:none;
	padding:6px 0;
	display:block;
}
#sidebar {
	float:left;
	width:220px;
	padding-right:20px;
	border:solid 4px #CCC;
	padding:8px 10px;
}
#sidebar h2 {
	color:#555;
	font-size:26px;
	margin-bottom:10px;
}
.sidebar-menu li {
	border-bottom:solid 1px #CCC;
}
.sidebar-menu li a {
	color:#555;
}
.sidebar-menu li a.current {
	color: #D42101;
}
#footer-container {
	margin-top:100px;
	background-color:#0B5596;
	color:#FFF;
	box-shadow: 0 0 12px #333;
	-webkit-box-shadow: 0 0 12px #333;
}
#footer {
	min-height:250px;
	font-size:16px;
	padding-top:15px;
}
.third {
	float:left;
	width:32%;
	padding-right:2%;
}

.half {
	float:left;
	width:48%;
	padding-right:2%;
}
.third.last {
	padding-right:0%;
}
#footer a {
	color:white;
}
#footer p {
	margin:12px 0;
}
#footer .third p a {
	text-decoration:none;
}
.footer-menu {
	width:46%;
	float:left;
	padding-right:2%;
}
.footer-menu li {
	border-bottom:solid 1px white;
}
#footer address {
	text-align:center;
	padding-top:20px;
	font-style:normal;
}
.copyright {
	text-align:center;
	clear:both;
	font-style:italic;
	padding-top:25px;
}
#content {
	float:left;
	width:692px;
	padding-left:20px;
}
#content h3, #full-width h3 {
	background-color: none;/*#D42101;*/
	margin-bottom:15px;
	color:#D42101; /* white */
	font-size:24px;
	padding:5px 10px;
	font-weight:lighter;
	border-bottom: 1px solid #d42101;
}
#content p, #full-width p {
	font-size:16px;
	margin-bottom:16px;
	line-height:1.6;
}
.info-notice p {
	background-color: whitesmoke;
	margin: 0px;
	margin-top: -15px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-style: italic;
}
ul {
	list-style:circle;
	font-size:14px;
	margin-bottom:10px;
}
.breadcrumbs {
	background: #e0e0e0;
	padding: 5px;
	margin: 0px;
	color: black;
	font-size: 15px;
}
.breadcrumbs a {
	color: #444;
	text-decoration: underline;
}
.featured-part {
	float:left;
	width:31%;
	margin-right:2%;
}
.featured-part.last {
	margin-right:0;
}
h5 {
	color:#333;
	font-size:19px;
	margin-bottom:7px;
	font-weight:normal;
}
.featured-part img {
	display:block;
	width:100%;
}
.featured-part p {
	font-size:16px !important;
	color:#666;
	line-height:1;
	text-align:left;
	padding: 0;
	margin: 0;
}
button.blue-button, button.grey-button, button.green-button, button.red-button {
	height: auto;
	padding: 8px 16px;
}
button:hover, .blue-button:hover, .grey-button:hover, .green-button:hover, .red-button:hover {
	cursor: pointer;
}

.grey-button, .blue-button, .green-button, .red-button {
	display:inline-block;
	margin:2px;
	padding:8px 17px;
	font-size:17px;
	font-weight:bold;
	text-transform:uppercase;
	height: auto;
	background-repeat:repeat-x;
	background-position:center center;
	text-decoration:none;
	text-align:center;
	border-radius: 5px;
	vertical-align: center;
	color: #fff;
}
.grey-button:visited, .blue-button:visited, .green-button:visited, .red-button:visited, .grey-button:hover, .blue-button:hover, .green-button:hover, .red-button:hover {
	color: #fff !important;
}
a.grey-button, .grey-button {
	color: #333 !important;
	text-decoration: none !important;
}
a.grey-button:hover, .grey-button:hover {
	color: #666 !important;
	text-decoration: none !important;
}
.grey-button {
	background-image:url(images/gray-button-slice.png);
	border: 1px solid #959595;
}
.grey-button:hover {
	background-image: url(images/gray-button-hover.png);
}
.grey-button:active {
	background-image: url(images/gray-button-active.png);
}
.blue-button {
	background-image:url(images/blue-button-slice.png);
	border: 1px solid #196CAA;
}
.blue-button:hover {
	background-image: url(images/blue-button-hover.png);
}
.blue-button:active {
	background-image: url(images/blue-button-active.png);
}
.green-button {
	background-image: url(images/green-button-slice.png);
	border: 1px solid #59AA19;
}
.green-button:hover {
	background-image: url(images/green-button-hover.png);
}
.green-button:active {
	background-image: url(images/green-button-active.png);
}
.red-button {
	background-image: url(images/red-button-slice.png);
	border: 1px solid #AA1919;
}
.red-button:hover {
	background-image: url(images/red-button-hover.png);
}
.red-button:active {
	background-image: url(images/red-button-active.png);
}
.fr {
	display:block;
	float:right;
}
.fl {
	display:block;
	float:left;
}

.form-basic .field {
	margin:3px 0;
}
.form-basic .field label {
	display:block;
	font-size:15px;
}
.form-basic .textbox, .form-basic .textarea {
	width:96%;
	padding:2%;
}
.form-basic .textarea {
	height:100px;
	margin-bottom:4px;
}
#field_contact_antispam label {
	float:left;
	line-height:2;
}
#field_contact_antispam .textbox {
	float:right;
	width:60px;
}
.error-message, .success-message {
	text-align:center;
	font-size:15px;
	padding:7px 10px;
	color:#000;
	background-color:#FFDE8F;
	margin-bottom:15px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}
.success-message {
	background-color:#0576BC;
	color:#FFF;
}

input {
	padding:7px;
	font-size:16px;
}
#header-search input, .search-input {
	background-image:url(images/search.jpg);
	background-repeat:no-repeat;
	background-position:3px center;
	width:240px;
	padding-left:25px;
	border:0;

}

form.non-mobile {
	@include media($tablet-and-mobile) {
		display: none;
	}
}
#search-parts-area {
	padding:10px;
	border:solid 1px #CCC;
	margin-top:20px;
}
#parts-search {
	width: 620px;
	float: right;
	margin-top: 0;
	padding: 0;
	margin-bottom: -40px;
}
#parts-search input {
	width: 450px;
	float: right;
}
#content #search_parts, #full-width #search_parts {
	margin-bottom:15px;
}
input#search {
	float:left;
	margin:5px 6px;
}
#search-parts-area form {
	margin-bottom:8px;
}
#search-parts-area input#search {
	width:420px;
}
#search-parts-area .blue-button {
	margin-top:2px;
}
input#search label {
	font-size:16px;
	display:block;
}
input#search .select {
	padding:4px;
	font-size:16px;
}
.search-input {
	border:solid 1px #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.title-left {
	float:left;
}
.category_search {
	display:block;
	position:absolute;
	left:80px;
	top:-15px;
}
.category_search .field {
	clear:none;
	float:left;
}
.category_search button {
	float:left;
	margin-top:13px;
}
.category-parts-search {
	width:auto !important;
	float:none !important;
	margin-bottom:10px !important;
	position:relative;
}

.results-2-col {
	margin-bottom:15px;
}
.result {
	float:left;
	width:32%;
	padding-right:1%;
	margin-bottom:14px;
}
.result img {
	width:36%;
	float:left;
	display:block;
}
.result .info {
	width:100%;
	padding-left:2%;
	float:left;
}
.result .info h5 {
	margin-bottom:0;
}
.result .info .image {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image:url("images/camera-icon.png");
	background-repeat: no-repeat;
	background-position: top right;
}
.result .info p {
	font-size:13px !important;
	margin-bottom:4px !important;
	color:#D42101;
}
.result .info p.description {
	height:36px;
	overflow:hidden;
}
.result a, .featured-part a {
	text-decoration: underline;
	color: #333333;
}
.featured-description {
	color: #D42101 !important;
}
.result a:hover, .result a:hover {
	text-decoration: underline;
	color: #6B1000;
}
.grey {
	color:#666;
}
.centered { text-align:center; }
#full {
	height:360px;
	background-image:url(images/better-img.jpg);
	background-repeat:no-repeat;
	background-position: 540px 10px;
	background-size: 435px 304px;
}
#attention {
	color:#D32000;
	padding-left:40px;
	padding-top:50px;
	font-weight:bold;
}
#attention .medium, #attention .small {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
}
#attention .large {
	font-size:43px;
	font-family:Arial, "Times New Roman", Times, serif;
	text-transform:uppercase;
}
#attention .small {
	font-size:14px;
	font-weight:lighter;
}
#blue-headline {
	font-size:29px;
	color:#2780C0;
	text-transform:uppercase;
	text-align:center;
	padding-top:45px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:.8;
}
#blue-headline span {
	text-transform:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:18px;
}
#full-content {
	margin-top:20px;
}
.easy-way {
	background-color:#FFDE8F;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:13px;
	position:relative;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	text-align:center;
}
.easy-way .number {
	position:absolute;
	left:3px;
	top:3px;
	font-size:30px;
	background-image:url(images/bg-number.png);
	background-repeat:no-repeat;
	background-position:top center;
	width:42px;
	height:42px;
}
.easy-way .way {
	font-size:18px;
}
#home_search .search-input {
	width:80%;
	margin:4% 4% 2%;
}
.help {
	text-align:center;
	color:#666;
	font-style:italic;
}
.home-submenu {
	margin-top:15px;
}
.home-submenu li {
	font-style:normal;
}
.phone, .phone a {
	color:#D32000;
	text-align:center;
	font-size:26px;
	font-weight:lighter;
	margin-top:14px;
}
.phone2 {
	color:#D32000;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px !important;
	margin-top:5px;
}
.infobox {
	background-color:#CCC;
	float:left;
	width:44%;
	padding:2%;
	margin-right:4%;
	height:156px;
	margin-top:30px;
}
.infobox.last {
	margin-right:0;
}
.infobox img {
	padding-right:12px;
}
.infobox h4 a {
	font-size:24px;
	font-weight:normal;
	margin-bottom:12px;
	color: #44445F;
	text-decoration:none;
}
.infobox h4 a:hover {
	text-decoration:underline;
}
.infobox p {
	font-size:14px;
}
.contact-info p {
	font-size:13px;
	margin:7px 0;
}
a.back-link {
	float: right;
	color: #D42101;
	font-weight: bold;
	padding-right: 25px;
	/*background-image: url("images/back.png");*/
	background-position: right;
	background-repeat: no-repeat;
}

.part-img {
	width:540px;
	float:left;
}
.part-img img {
	width:100%;
}
.part-info-below span {
	padding-right:15px;
	font-size:15px;
}
.part-info-right {
	width:30%;
	padding-left:10px;
	float:right;
}

.img-container {
	float:left;
	display:block;
	margin:10px 25px 5px 0;
	padding:8px;
	background-color:white;
	text-align:center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:solid 1px #CCC;
}
.img-right {
	float:right;
	margin:10px 0px 5px 25px;
}
#content .img-container p.caption, #full-width .img-container p.caption {
	font-size:11px;
	color:#666;
	font-weight:bold;
	text-align:left;
	margin-top:3px;
	margin-bottom:0px;
}

#sidebar p {
	font-size:14px;
	margin-bottom:10px;
}

.cart-part {
	padding:10px 0;
	border-bottom:5px solid #E8E8E8;
}
.cart-part a.lightbox, .cart-part .noimg {
	float:left;
	text-decoration:none;
	width:20%;
	text-align:center;
	padding-right:15px;
	font-weight:bold;
	color:#0576BC;
}
.cart-part a.lightbox img {
	width:100%;
}
.cart-part-info {
	float:left;
	font-size:17px;
	width:76%;
}
.cart-part-info hr {
	margin:5px 0;
}
.cart-part .remove {
	color:#D42101;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
}
.cart-part .remove:hover {
	text-decoration:underline;
}
.sidebar-buttons a {
	display:block;
	margin-bottom:8px;
	padding:6px;
	background-color:#0576BC;
	color:white;
	text-decoration:none;
	font-weight:bold;
}
.sidebar-menu .has-children a {
	border-bottom:solid 1px #ccc;
}
.sidebar-menu .has-children {
	border-bottom:0;
}
.sidebar-menu .has-children li a {
	border-bottom:0 !important;
}

.notice {
	padding:6px;
	text-align:center;
	font-weight:bold;
	font-size:18px;
}
.notice.error {
	color:#E00A0A;
}
.notice.success {
	color:#0576BC;
}

.go-button {
	background-color:#0576BC;
	color:white !important;
	padding:5px 8px;
	border:solid 2px black;
	text-transform:uppercase;
	text-decoration:none;
	margin:5px 0;
	font-weight:bold;
}

.help1 {
	text-align:center;
	color:#333;
	font-weight:bold;
	font-size:13px;
}

.part-info-below {
	background-color: whitesmoke;
	font-size: 18px;
}
.part-info-below td {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#full-content .third p {
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin-top:10px;
}
.red, #content .red, #full-width .red {
	color: #D32000;
	font-size: 26px;
}
.goog-te-gadget-simple .goog-te-menu-value span {
	color: black;
}
.field {
	clear:both;
	padding-top:10px;
	padding-bottom: 5px;
}
.tiny-text {
	font-size: 9px;
	font-style: italic;
	padding-left: 25px;
}


.nice-info, .notice.success {
	text-align:center;
	font-size:15px;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0;
	display:block;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	border: 1px solid #b8c97b;
	background: #e5edc4;
	background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
	background: -moz-linear-gradient(top, #e5edc4, #d9e4ac);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
	color: #3f7227;
	text-shadow: 0 1px 0 #fff;
}
.blue-info, .notice.info {
	text-align:center;
	font-size:15px;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0;
	display:block;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	border: 1px solid #7babc6;
	background: #e5edc4;
	background: -webkit-gradient(linear, left top, left bottom, from(#c0d7ea), to(#acc4e2));
	background: -moz-linear-gradient(top, #c0d7ea, #acc4e2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0d7ea', endColorstr='#acc4e2');
	color: #2a5572;
	text-shadow: 0 1px 0 #fff;
}

.nice-info h3 {
margin-top: 0;
}
.nice-info p {
margin-bottom: 0;
}

ul.left, ul.right {
	width: 45%;
	padding: 1%;
	float: left;
	list-style: none;
	font-size:18px;
	margin: 0px;
}

ul.categories {
	list-style: none;
	font-size: 18px;
	margin: 0px 0px 10px 0px;
}
ul.categories li {
	width: 23%;
	display: inline-block;
	margin: 0px 5px;
	overflow:hidden;
}
ul.categories li a {
	display:block;
}

.float-left {
	float: left;
}
.expand-video {
	position: relative;
	min-height: 225px;
	display: block;
}
.play-button {
	position: absolute;
	top: 74px;
	left: 110px;
}

.video-container {
	margin-right: 10px;
	margin-bottom: 20px;
}
.video-title {
	text-align: center;
	width: 100%;
	display: block;
}


