@media all and (max-width:960px) {
  /*********\
  * #FOOTER *
  \*********/
  #footer .third {
    width:50%
  }

  #footer .third.last {
    margin-top:-170px
  }

  #search-parts-area input#search {
    width: 82%;
  }

  /*****************\
  * #FIND-YOUR-PART *
  \*****************/
  .body-find-your-part #page-title h1 {
    text-align: center;
    width: 100%;
    border-right: 0 solid transparent;
  }

  .body-find-your-part .featured-part {
    float:none;
    width: 50%;
    margin: 3em auto;
  }
}

@media all and (max-width:770px) {
  /*********\
  * #FOOTER *
  \*********/
  #footer .third {
    width:100%
  }

  #footer .third.second {
    margin-top:150px;
  }

  #footer .third.last {
    margin-top:-450px;
    text-align: center;
  }

  /*****************\
  * #FIND-YOUR-PART *
  \*****************/


}

@media all and (max-width: 520px) {
  /*********\
  * #FOOTER *
  \*********/
  #footer .third.last {
    margin-top: -510px;
    text-align: center;
  }

  /*****************\
  * #FIND-YOUR-PART *
  \*****************/
}