html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.22; }

table {
  font-size: inherit;
  font: 100%; }

select, input, textarea {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility; }

html {
  -webkit-font-smoothing: antialiased; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul {
  margin-left: 30px; }

ol {
  margin-left: 30px;
  list-style-type: decimal; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

/* pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; } */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

::-moz-selection {
  background: #39F;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #39F;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #39F; }

html {
  overflow-y: scroll; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/*
 * print styles
 */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; } }
pre {
  font-size: 12px;
  padding: 0;
  margin: 0;
  background: #f0f0f0;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 20px;
  /*--Height of each line of code--*/
  background: url(pre_code_bg.gif) repeat-y left top;
  /*--Background of lined paper--*/
  width: 600px;
  overflow: auto;
  /*--If the Code exceeds the width, a scrolling is available--*/
  overflow-Y: hidden;
  /*--Hides vertical scroll created by IE--*/ }

pre code {
  margin: 0 0 0 40px;
  /*--Left Margin--*/
  padding: 18px 0;
  display: block; }

.db-error {
  padding: 10px;
  margin: 10px;
  border: 3px solid red;
  background-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-size: 14px; }

.db-error-message {
  color: #FFCC00;
  font-weight: bold; }

.db-error pre {
  font-family: "Envy Code R", "Courier New", Courier, monospace; }

/* ADMIN ONLY STYLESHEET */
/* keep vertical scroll bar in place to prevent "jumping" */
html {
  height: 100%;
  margin-bottom: 1px;
  padding-bottom: 1px; }

/* add the following class to container to clear all floats inside */
.cleared:after, .container:after, .half:after, #quote:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.two-thirds {
  float: left;
  width: 64%;
  padding-right: 2%; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.contained {
  width: 96%;
  margin: 0 auto;
  padding: 0 2%; }

#top-container {
  background-color: #0576bc;
  color: white; }

#notice-top {
  background-color: #004f7c;
  padding: 5px; }

#notice-top p {
  text-align: center;
  margin: 0px;
  padding: 0px; }

#notice-top a {
  color: #FFF; }

#top {
  padding-top: 5px; }

#top h1 {
  font-size: 40px;
  float: left; }

#top #view-site {
  display: inline-block;
  margin-top: 26px;
  margin-left: 6px;
  color: #CCC;
  text-decoration: none; }

#menu {
  float: right;
  padding: 0 10px;
  margin-top: 14px; }

#menu a {
  float: left;
  display: block;
  position: relative;
  z-index: 300;
  margin: 0 2px;
  padding: 6px 15px 5px;
  text-align: center;
  color: #F5F5F5;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: -14px;
  overflow: hidden;
  background-color: #0576BC; }

#menu a:hover {
  background-color: #1e8ccc; }

#menu a.current {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F5F5F5',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* W3C */
  padding-bottom: 10px;
  color: red;
  position: relative;
  z-index: 999; }

#links {
  float: right;
  font-size: 14px;
  padding-top: 12px; }

#links a {
  color: white;
  margin-left: 10px; }

.breadcrumbs {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 16px;
  background-color: whitesmoke; }

#main-container {
  border-top: 2px solid #01598c; }

#main {
  padding: 20px 0; }

h1 {
  font-weight: bold;
  font-size: 36px;
  display: inline-block; }

h2 {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 12px;
  display: inline-block;
  padding-right: 5px; }

h3 {
  font-weight: normal;
  font-size: 24px;
  margin: 10px 0; }

p {
  margin: 8px 0;
  font-size: 15px; }

.half {
  float: left;
  width: 45%;
  max-width: 45%;
  padding: 1%;
  overflow: show; }

.half:active {
  padding: 1%;
  margin: 0;
  width: 45%;
  max-width: 47%;
  float: left;
  /*overflow: scroll;*/ }

.centered {
  margin: 0 auto;
  text-align: center; }

.today, .month {
  text-align: center;
  padding: 4px;
  font-size: 15px;
  font-weight: bold;
  margin: 8px 0; }

.today {
  background-color: #CF6;
  border: 1px solid #B1FF0F; }

.month {
  background-color: #A7BFD8;
  border: 1px solid #739BC2; }

.quickstat {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 15px; }

.quickstat strong {
  font-size: 25px; }

.quickstat strong.urgent {
  color: #900; }

.quickstat strong.urgent a {
  color: #900; }

#submenu {
  text-align: center; }

#submenu a {
  background-color: #FFDE8F;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  float: left;
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  text-align: center;
  margin: 5px 3px; }

#submenu a:hover, #submenu a.current {
  background-color: #0576BC;
  color: white; }

#submenu a.green {
  background-color: #8ACC48;
  color: white !important; }

#quote {
  border: solid 2px black; }

#quote .info {
  background-color: #999;
  color: #FFF;
  padding: 9px; }

#quote .info span, .listed-quote span {
  display: inline-block;
  margin-right: 30px;
  font-size: 17px;
  font-family: Tahoma, Geneva, sans-serif; }

#quote .info span.status {
  text-transform: uppercase;
  font-weight: bold; }

.listed-quote {
  background-color: #EFEFEF;
  color: #000;
  padding: 9px;
  border-bottom: 2px solid #CCC; }

.listed-quote a {
  font-size: 22px;
  color: #000; }

#request_modal .popup_content {
  height: 600px;
  overflow: auto; }

#request_modal .popup_content label {
  width: 80px; }

#request_modal .popup_content input {
  width: 260px; }

#request_modal .popup_content textarea {
  width: 345px; }

.fr {
  float: right;
  display: block; }

.fl {
  float: left;
  display: block; }

form .box {
  width: 400px;
  border: 3px solid #1F599C;
  margin: 0 auto;
  border-radius: 5px;
  padding: 25px;
  background-color: #7BB8E8; }

input {
  padding: 7px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 85%; }

textarea {
  padding: 7px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 85%;
  height: 150px; }

select {
  font-size: 16px;
  padding: 5px;
  max-width: 300px; }

input, textarea, select {
  margin-bottom: 15px; }

label {
  font-size: 16px;
  display: block;
  font-weight: bold; }

.inline-field {
  margin-bottom: 10px; }

.checkbox-field input, .checkbox-field label {
  display: inline-block; }

.checkbox {
  margin-bottom: 0 !important;
  width: 15px; }

table {
  width: 100%; }

td {
  padding-left: 10px;
  text-align: left; }

th {
  text-align: left;
  padding: 5px;
  background-color: #999;
  color: white; }

table.large-list {
  min-width: 50%; }

table.large-list tr {
  border-bottom: 2px solid #CCCCCC;
  background-color: #EFEFEF;
  padding: 5px;
  font-size: 18px; }

table.large-list td {
  padding: 5px; }

table.large-list a {
  color: #000;
  text-decoration: underline;
  font-weight: bold; }

.loading {
  opacity: 0.5; }

/* FORM STYLES */
form button[type=submit], a.add-button {
  background: #8ACC48;
  padding: 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
  margin-right: 5px; }

form button[type=submit] {
  float: left; }

a.cancel-button {
  display: inline-block;
  color: red;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px; }

.featured {
  margin-bottom: 20px;
  line-height: .9; }

#questions {
  display: block;
  padding: 40px 0; }

#category .question {
  display: block;
  position: relative;
  background-color: white;
  clear: both;
  cursor: move;
  border-top: 2px solid #004F7C; }

#category .question .readonly {
  background-color: whitesmoke; }

#category .question textarea {
  border: 1px solid gray; }

.notice {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 10px; }

.notice.success {
  background-color: #8ACC48; }

.notice.error {
  background-color: #C90; }

#quote-requests tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px; }

#quote-requests tr:hover {
  cursor: pointer;
  background-color: #FFDE8F; }

.handle {
  background-image: url(images/move-vertical.png);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 24px;
  min-width: 24px;
  cursor: row-resize; }

.ui-state-highlight {
  height: 50px;
  padding: 5px;
  border-bottom: 2px solid #ccc;
  clear: both; }

.large-font {
  font-size: 24px; }

.red {
  color: red; }

#fade {
  /*--Transparent background layer--*/
  display: none;
  /*--hidden by default--*/
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .80;
  z-index: 9999; }

.popup_block {
  display: none;
  /*--hidden by default--*/
  background: #fff;
  padding: 20px;
  border: 20px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 99999;
  /*--CSS3 Box Shadows--*/
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  /*--CSS3 Rounded Corners--*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*overflow: scroll;*/
  /*max-height: 500px;*/
  margin-top: 0 !important; }

.popup_block .popup_content {
  max-height: 500px;
  min-height: 200px;
  overflow: auto;
  display: block;
  padding-bottom: 20px; }

img.btn_close {
  float: right;
  margin: -55px -55px 0 0; }

/*--Making IE6 Understand Fixed Positioning--*/
.popup_content label {
  display: block;
  float: left;
  width: 40%; }

.popup_content .textbox {
  float: left;
  width: 50%; }

.popup_content .blue-button {
  height: 30px;
  padding-top: 4px;
  width: auto;
  background-color: transparent !important;
  border: 0; }

.container {
  width: 800px;
  font-family: "Arial", Gadget, sans-serif; }

.fr {
  float: right; }

.fl {
  float: left; }

.clearboth {
  clear: both; }

h2 {
  margin-top: 0; }

.info {
  width: 100%; }

.questions {
  font-size: 13px; }
