html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.22; }

table {
  font-size: inherit;
  font: 100%; }

select, input, textarea {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility; }

html {
  -webkit-font-smoothing: antialiased; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul {
  margin-left: 30px; }

ol {
  margin-left: 30px;
  list-style-type: decimal; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

/* pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; } */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

::-moz-selection {
  background: #39F;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #39F;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #39F; }

html {
  overflow-y: scroll; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/*
 * print styles
 */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; } }
pre {
  font-size: 12px;
  padding: 0;
  margin: 0;
  background: #f0f0f0;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 20px;
  /*--Height of each line of code--*/
  background: url(pre_code_bg.gif) repeat-y left top;
  /*--Background of lined paper--*/
  width: 600px;
  overflow: auto;
  /*--If the Code exceeds the width, a scrolling is available--*/
  overflow-Y: hidden;
  /*--Hides vertical scroll created by IE--*/ }

pre code {
  margin: 0 0 0 40px;
  /*--Left Margin--*/
  padding: 18px 0;
  display: block; }

.db-error {
  padding: 10px;
  margin: 10px;
  border: 3px solid red;
  background-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-size: 14px; }

.db-error-message {
  color: #FFCC00;
  font-weight: bold; }

.db-error pre {
  font-family: "Envy Code R", "Courier New", Courier, monospace; }

/* keep vertical scroll bar in place to prevent "jumping" */
html {
  height: 100%;
  margin-bottom: 1px;
  padding-bottom: 1px; }

/* add the following class to container to clear all floats inside */
.cleared:after, .container:after, form:after, .infobox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearboth {
  clear: both; }

/* Selection text color */
::-moz-selection {
  background: #B9B5AA;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #B9B5AA;
  color: #fff;
  text-shadow: none; }

/*
@font-face {red
	src:
		local("font name"),
		local('fontName'),
		url(/font/font.ttf) format('truetype'),
		url(/font/font.otf) format('opentype');
	src: url(/font/font.eot); // IE - Must be last SRC to work
}
body {
	font-family: "font name";
}
*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  margin: 0 auto;
  width: 100%; }

.contained {
  margin: 0 auto;
  width: 960px;
  overflow: hidden; }
  @media screen and (min-width: 768px) and (max-width: 959px) {
    .contained {
      width: 748px; } }
  @media screen and (min-width: 515px) and (max-width: 767px) {
    .contained {
      width: 495px; } }
  @media screen and (max-width: 514px) {
    .contained {
      width: 300px; } }

#wrapper {
  min-height: 600px; }

#header-container {
  background-color: #0576BC;
  color: #FFF;
  height: 90px;
  box-shadow: 0 0 12px #333;
  -webkit-box-shadow: 0 0 12px #333; }

#header a, #header a:active, #header a:visited {
  color: white; }

#logo {
  display: block;
  float: left;
  position: relative;
  top: 4px;
  box-shadow: 0 0 12px #666;
  -webkit-box-shadow: 0 0 12px #666; }

#top {
  padding: 6px;
  float: right;
  width: 620px; }

#cart {
  float: left;
  font-size: 12px;
  background-image: url(images/shopping-cart.png);
  background-repeat: no-repeat;
  background-position: left center;
  color: white;
  text-decoration: none;
  height: 20px;
  text-indent: 33px;
  margin: 4px 10px 0 20px;
  line-height: 20px; }

#cart:hover {
  text-decoration: underline;
  color: #CCC; }

.text {
  font-size: 20px;
  float: left;
  line-height: 20px;
  height: 20px;
  margin: 3px 5px 0; }

.intlnumber {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 290px; }

p.small-text {
  font-size: 8px; }

#search {
  float: left;
  margin-top: -3px; }

#menu {
  text-align: right;
  margin-top: 22px;
  clear: both; }

#menu a {
  color: #FFF;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  float: left;
  display: block; }

#menu a:hover {
  color: #D8F0FE; }

#menu a.first {
  margin-left: 0; }

#menu a.current {
  text-decoration: underline; }

h1, h2, h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic; }

#page-title {
  margin: 45px 0 15px; }

#page-title h1 {
  border-right: solid 2px black;
  float: left;
  font-size: 30px;
  width: 220px;
  padding: 20px 25px 25px 0; }

#page-title p {
  font-size: 16px;
  line-height: 1.7;
  padding: 10px 10px 10px 25px;
  width: 675px;
  float: left; }

.submenu {
  list-style: none;
  margin: 0;
  padding: 0; }

.submenu .submenu {
  text-indent: 15px; }

.submenu .submenu .submenu {
  text-indent: 30px; }

.submenu li {
  font-size: 16px;
  font-style: italic;
  border-bottom: solid 1px #CCC;
  font-family: Georgia, "Times New Roman", Times, serif; }

.submenu li a {
  text-decoration: none;
  padding: 6px 0;
  display: block; }

#sidebar {
  float: left;
  width: 220px;
  padding-right: 20px;
  border: solid 4px #CCC;
  padding: 8px 10px; }

#sidebar h2 {
  color: #555;
  font-size: 26px;
  margin-bottom: 10px; }

.sidebar-menu li {
  border-bottom: solid 1px #CCC; }

.sidebar-menu li a {
  color: #555; }

.sidebar-menu li a.current {
  color: #D42101; }

#footer-container {
  margin-top: 100px;
  background-color: #0B5596;
  color: #FFF;
  box-shadow: 0 0 12px #333;
  -webkit-box-shadow: 0 0 12px #333; }

#footer {
  min-height: 250px;
  font-size: 16px;
  padding-top: 15px; }

.third {
  float: left;
  width: 32%;
  padding-right: 2%; }

.half {
  float: left;
  width: 48%;
  padding-right: 2%; }

.third.last {
  padding-right: 0%; }

#footer a {
  color: white; }

#footer p {
  margin: 12px 0; }

#footer .third p a {
  text-decoration: none; }

.footer-menu {
  width: 46%;
  float: left;
  padding-right: 2%; }

.footer-menu li {
  border-bottom: solid 1px white; }

#footer address {
  text-align: center;
  padding-top: 20px;
  font-style: normal; }

.copyright {
  text-align: center;
  clear: both;
  font-style: italic;
  padding-top: 25px; }

#content {
  float: left;
  width: 692px;
  padding-left: 20px; }

#content h3, #full-width h3 {
  background-color: none;
  /*#D42101;*/
  margin-bottom: 15px;
  color: #D42101;
  /* white */
  font-size: 24px;
  padding: 5px 10px;
  font-weight: lighter;
  border-bottom: 1px solid #d42101; }

#content p, #full-width p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.6; }

.info-notice p {
  background-color: whitesmoke;
  margin: 0px;
  margin-top: -15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic; }

ul {
  list-style: circle;
  font-size: 14px;
  margin-bottom: 10px; }

.breadcrumbs {
  background: #e0e0e0;
  padding: 5px;
  margin: 0px;
  color: black;
  font-size: 15px; }

.breadcrumbs a {
  color: #444;
  text-decoration: underline; }

.featured-part {
  float: left;
  width: 31%;
  margin-right: 2%; }

.featured-part.last {
  margin-right: 0; }

h5 {
  color: #333;
  font-size: 19px;
  margin-bottom: 7px;
  font-weight: normal; }

.featured-part img {
  display: block;
  width: 100%; }

.featured-part p {
  font-size: 16px !important;
  color: #666;
  line-height: 1;
  text-align: left;
  padding: 0;
  margin: 0; }

button.blue-button, button.grey-button, button.green-button, button.red-button {
  height: auto;
  padding: 8px 16px; }

button:hover, .blue-button:hover, .grey-button:hover, .green-button:hover, .red-button:hover {
  cursor: pointer; }

.grey-button, .blue-button, .green-button, .red-button {
  display: inline-block;
  margin: 2px;
  padding: 8px 17px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  height: auto;
  background-repeat: repeat-x;
  background-position: center center;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  vertical-align: center;
  color: #fff; }

.grey-button:visited, .blue-button:visited, .green-button:visited, .red-button:visited, .grey-button:hover, .blue-button:hover, .green-button:hover, .red-button:hover {
  color: #fff !important; }

a.grey-button, .grey-button {
  color: #333 !important;
  text-decoration: none !important; }

a.grey-button:hover, .grey-button:hover {
  color: #666 !important;
  text-decoration: none !important; }

.grey-button {
  background-image: url(images/gray-button-slice.png);
  border: 1px solid #959595; }

.grey-button:hover {
  background-image: url(images/gray-button-hover.png); }

.grey-button:active {
  background-image: url(images/gray-button-active.png); }

.blue-button {
  background-image: url(images/blue-button-slice.png);
  border: 1px solid #196CAA; }

.blue-button:hover {
  background-image: url(images/blue-button-hover.png); }

.blue-button:active {
  background-image: url(images/blue-button-active.png); }

.green-button {
  background-image: url(images/green-button-slice.png);
  border: 1px solid #59AA19; }

.green-button:hover {
  background-image: url(images/green-button-hover.png); }

.green-button:active {
  background-image: url(images/green-button-active.png); }

.red-button {
  background-image: url(images/red-button-slice.png);
  border: 1px solid #AA1919; }

.red-button:hover {
  background-image: url(images/red-button-hover.png); }

.red-button:active {
  background-image: url(images/red-button-active.png); }

.fr {
  display: block;
  float: right; }

.fl {
  display: block;
  float: left; }

.form-basic .field {
  margin: 3px 0; }

.form-basic .field label {
  display: block;
  font-size: 15px; }

.form-basic .textbox, .form-basic .textarea {
  width: 96%;
  padding: 2%; }

.form-basic .textarea {
  height: 100px;
  margin-bottom: 4px; }

#field_contact_antispam label {
  float: left;
  line-height: 2; }

#field_contact_antispam .textbox {
  float: right;
  width: 60px; }

.error-message, .success-message {
  text-align: center;
  font-size: 15px;
  padding: 7px 10px;
  color: #000;
  background-color: #FFDE8F;
  margin-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }

.success-message {
  background-color: #0576BC;
  color: #FFF; }

input {
  padding: 7px;
  font-size: 16px; }

#header-search input, .search-input {
  background-image: url(images/search.jpg);
  background-repeat: no-repeat;
  background-position: 3px center;
  width: 240px;
  padding-left: 25px;
  border: 0; }

@media screen and (max-width: 959px) {
  form.non-mobile {
    display: none; } }

#search-parts-area {
  padding: 10px;
  border: solid 1px #CCC;
  margin-top: 20px; }

#parts-search {
  width: 620px;
  float: right;
  margin-top: 0;
  padding: 0;
  margin-bottom: -40px; }

#parts-search input {
  width: 450px;
  float: right; }

#content #search_parts, #full-width #search_parts {
  margin-bottom: 15px; }

input#search {
  float: left;
  margin: 5px 6px; }

#search-parts-area form {
  margin-bottom: 8px; }

#search-parts-area input#search {
  width: 420px; }

#search-parts-area .blue-button {
  margin-top: 2px; }

input#search label {
  font-size: 16px;
  display: block; }

input#search .select {
  padding: 4px;
  font-size: 16px; }

.search-input {
  border: solid 1px #CCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.title-left {
  float: left; }

.category_search {
  display: block;
  position: absolute;
  left: 80px;
  top: -15px; }

.category_search .field {
  clear: none;
  float: left; }

.category_search button {
  float: left;
  margin-top: 13px; }

.category-parts-search {
  width: auto !important;
  float: none !important;
  margin-bottom: 10px !important;
  position: relative; }

.results-2-col {
  margin-bottom: 15px; }

.result {
  float: left;
  width: 32%;
  padding-right: 1%;
  margin-bottom: 14px; }

.result img {
  width: 36%;
  float: left;
  display: block; }

.result .info {
  width: 100%;
  padding-left: 2%;
  float: left; }

.result .info h5 {
  margin-bottom: 0; }

.result .info .image {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("images/camera-icon.png");
  background-repeat: no-repeat;
  background-position: top right; }

.result .info p {
  font-size: 13px !important;
  margin-bottom: 4px !important;
  color: #D42101; }

.result .info p.description {
  height: 36px;
  overflow: hidden; }

.result a, .featured-part a {
  text-decoration: underline;
  color: #333333; }

.featured-description {
  color: #D42101 !important; }

.result a:hover, .result a:hover {
  text-decoration: underline;
  color: #6B1000; }

.grey {
  color: #666; }

.centered {
  text-align: center; }

#full {
  height: 360px;
  background-image: url(images/better-img.jpg);
  background-repeat: no-repeat;
  background-position: 540px 10px;
  background-size: 435px 304px; }

#attention {
  color: #D32000;
  padding-left: 40px;
  padding-top: 50px;
  font-weight: bold; }

#attention .medium, #attention .small {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px; }

#attention .large {
  font-size: 43px;
  font-family: Arial, "Times New Roman", Times, serif;
  text-transform: uppercase; }

#attention .small {
  font-size: 14px;
  font-weight: lighter; }

#blue-headline {
  font-size: 29px;
  color: #2780C0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: .8; }

#blue-headline span {
  text-transform: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px; }

#full-content {
  margin-top: 20px; }

.easy-way {
  background-color: #FFDE8F;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 13px;
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center; }

.easy-way .number {
  position: absolute;
  left: 3px;
  top: 3px;
  font-size: 30px;
  background-image: url(images/bg-number.png);
  background-repeat: no-repeat;
  background-position: top center;
  width: 42px;
  height: 42px; }

.easy-way .way {
  font-size: 18px; }

#home_search .search-input {
  width: 80%;
  margin: 4% 4% 2%; }

.help {
  text-align: center;
  color: #666;
  font-style: italic; }

.home-submenu {
  margin-top: 15px; }

.home-submenu li {
  font-style: normal; }

.phone, .phone a {
  color: #D32000;
  text-align: center;
  font-size: 26px;
  font-weight: lighter;
  margin-top: 14px; }

.phone2 {
  color: #D32000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  margin-top: 5px; }

.infobox {
  background-color: #CCC;
  float: left;
  width: 44%;
  padding: 2%;
  margin-right: 4%;
  height: 156px;
  margin-top: 30px; }

.infobox.last {
  margin-right: 0; }

.infobox img {
  padding-right: 12px; }

.infobox h4 a {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 12px;
  color: #44445F;
  text-decoration: none; }

.infobox h4 a:hover {
  text-decoration: underline; }

.infobox p {
  font-size: 14px; }

.contact-info p {
  font-size: 13px;
  margin: 7px 0; }

a.back-link {
  float: right;
  color: #D42101;
  font-weight: bold;
  padding-right: 25px;
  /*background-image: url("images/back.png");*/
  background-position: right;
  background-repeat: no-repeat; }

.part-img {
  width: 540px;
  float: left; }

.part-img img {
  width: 100%; }

.part-info-below span {
  padding-right: 15px;
  font-size: 15px; }

.part-info-right {
  width: 30%;
  padding-left: 10px;
  float: right; }

.img-container {
  float: left;
  display: block;
  margin: 10px 25px 5px 0;
  padding: 8px;
  background-color: white;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: solid 1px #CCC; }

.img-right {
  float: right;
  margin: 10px 0px 5px 25px; }

#content .img-container p.caption, #full-width .img-container p.caption {
  font-size: 11px;
  color: #666;
  font-weight: bold;
  text-align: left;
  margin-top: 3px;
  margin-bottom: 0px; }

#sidebar p {
  font-size: 14px;
  margin-bottom: 10px; }

.cart-part {
  padding: 10px 0;
  border-bottom: 5px solid #E8E8E8; }

.cart-part a.lightbox, .cart-part .noimg {
  float: left;
  text-decoration: none;
  width: 20%;
  text-align: center;
  padding-right: 15px;
  font-weight: bold;
  color: #0576BC; }

.cart-part a.lightbox img {
  width: 100%; }

.cart-part-info {
  float: left;
  font-size: 17px;
  width: 76%; }

.cart-part-info hr {
  margin: 5px 0; }

.cart-part .remove {
  color: #D42101;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold; }

.cart-part .remove:hover {
  text-decoration: underline; }

.sidebar-buttons a {
  display: block;
  margin-bottom: 8px;
  padding: 6px;
  background-color: #0576BC;
  color: white;
  text-decoration: none;
  font-weight: bold; }

.sidebar-menu .has-children a {
  border-bottom: solid 1px #ccc; }

.sidebar-menu .has-children {
  border-bottom: 0; }

.sidebar-menu .has-children li a {
  border-bottom: 0 !important; }

.notice {
  padding: 6px;
  text-align: center;
  font-weight: bold;
  font-size: 18px; }

.notice.error {
  color: #E00A0A; }

.notice.success {
  color: #0576BC; }

.go-button {
  background-color: #0576BC;
  color: white !important;
  padding: 5px 8px;
  border: solid 2px black;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px 0;
  font-weight: bold; }

.help1 {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 13px; }

.part-info-below {
  background-color: whitesmoke;
  font-size: 18px; }

.part-info-below td {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px; }

#full-content .third p {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px; }

.red, #content .red, #full-width .red {
  color: #D32000;
  font-size: 26px; }

.goog-te-gadget-simple .goog-te-menu-value span {
  color: black; }

.field {
  clear: both;
  padding-top: 10px;
  padding-bottom: 5px; }

.tiny-text {
  font-size: 9px;
  font-style: italic;
  padding-left: 25px; }

.nice-info, .notice.success {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  display: block;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #b8c97b;
  background: #e5edc4;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
  background: -moz-linear-gradient(top, #e5edc4, #d9e4ac);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
  color: #3f7227;
  text-shadow: 0 1px 0 #fff; }

.blue-info, .notice.info {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  display: block;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #7babc6;
  background: #e5edc4;
  background: -webkit-gradient(linear, left top, left bottom, from(#c0d7ea), to(#acc4e2));
  background: -moz-linear-gradient(top, #c0d7ea, #acc4e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0d7ea', endColorstr='#acc4e2');
  color: #2a5572;
  text-shadow: 0 1px 0 #fff; }

.nice-info h3 {
  margin-top: 0; }

.nice-info p {
  margin-bottom: 0; }

ul.left, ul.right {
  width: 45%;
  padding: 1%;
  float: left;
  list-style: none;
  font-size: 18px;
  margin: 0px; }

ul.categories {
  list-style: none;
  font-size: 18px;
  margin: 0px 0px 10px 0px; }

ul.categories li {
  width: 23%;
  display: inline-block;
  margin: 0px 5px;
  overflow: hidden; }

ul.categories li a {
  display: block; }

.float-left {
  float: left; }

.expand-video {
  position: relative;
  min-height: 225px;
  display: block; }

.play-button {
  position: absolute;
  top: 74px;
  left: 110px; }

.video-container {
  margin-right: 10px;
  margin-bottom: 20px; }

.video-title {
  text-align: center;
  width: 100%;
  display: block; }

#fade {
  /*--Transparent background layer--*/
  display: none;
  /*--hidden by default--*/
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .80;
  z-index: 9999; }

.popup_block {
  display: none;
  /*--hidden by default--*/
  background: #fff;
  padding: 20px;
  border: 20px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 99999;
  /*--CSS3 Box Shadows--*/
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  /*--CSS3 Rounded Corners--*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*overflow: scroll;*/
  /*max-height: 500px;*/
  margin-top: 0 !important; }

.popup_block .popup_content {
  max-height: 500px;
  min-height: 200px;
  overflow: auto;
  display: block;
  padding-bottom: 20px; }

img.btn_close {
  float: right;
  margin: -55px -55px 0 0; }

/*--Making IE6 Understand Fixed Positioning--*/
.popup_content label {
  display: block;
  float: left;
  width: 40%; }

.popup_content .textbox {
  float: left;
  width: 50%; }

.popup_content .blue-button {
  height: 30px;
  padding-top: 4px;
  width: auto;
  background-color: transparent !important;
  border: 0; }

#header-container {
  margin-bottom: 80px; }

#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: visible; }

a.logo {
  margin: 5px;
  box-shadow: 0 0 12px #333333; }

#top {
  display: flex;
  flex-flow: column nowrap;
  margin: 5px;
  flex-grow: 2; }

#upper-items {
  display: flex;
  margin: 0;
  justify-content: space-between; }

#cart {
  margin: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  float: none;
  font-size: initial;
  color: white;
  text-decoration: none;
  height: auto;
  text-indent: 33px;
  line-height: 15.8667px; }

#cart .strong-span {
  font-weight: bold;
  font-size: 2em; }

.cart-text {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 5px; }

.cart-text .inline-span {
  text-indent: 0; }

.cart-text .tiny-text {
  text-indent: -1px;
  padding-left: 0; }

.phone-area {
  display: flex;
  flex-flow: column nowrap;
  margin: 5px;
  justify-content: space-around; }

.phone-area .text {
  font-size: 1.2em; }

.phone-area .mobile-intlnumber {
  font-size: 1.2em; }

#header-search {
  margin: 5px; }

.menu-items {
  display: flex;
  margin: 0;
  justify-content: space-between; }

.menu-item {
  margin: 5px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3em; }

.video-title {
  max-width: 290px; }

.body-remanufacturing-process #page-title h1 {
  font-size: 26px; }

.category-items {
  width: 33%;
  height: auto; }

.category-area {
  width: 33%;
  list-style: none; }

.category-img {
  width: 100%; }

.category-item {
  width: 29%;
  max-height: 316px;
  margin: 20px; }

.category-title {
  text-decoration: underline;
  color: #333333;
  font-size: 19px;
  padding: 10px;
  text-align: center; }

.category-link {
  display: flex;
  flex-flow: column;
  align-items: center; }

.category-row {
  display: flex;
  width: 100%; }

.categories {
  display: flex;
  flex-flow: row wrap; }

@media screen and (max-width: 959px) {
  #header.contained {
    position: relative;
    overflow: visible; } }
@media screen and (max-width: 514px) {
  #header.contained .text {
    display: none; } }
@media screen and (max-width: 959px) {
  #header.contained .text {
    margin-left: 40px;
    margin-top: 20px; } }
@media screen and (min-width: 515px) and (max-width: 767px) {
  #header.contained .text {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 230px; } }

@media screen and (max-width: 959px) {
  #cart {
    position: absolute;
    bottom: -125px;
    right: 50px;
    background-color: #05649f;
    /*#0576bc*/
    width: 90px;
    height: 35px !important;
    line-height: 1 !important;
    float: right;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px 30px; } }
@media screen and (max-width: 514px) {
  #cart {
    right: 10px; } }
@media screen and (max-width: 959px) {
  #cart span.strong-span {
    position: absolute;
    left: 10px;
    font-weight: bold;
    padding-top: 5px; } }
@media screen and (max-width: 959px) {
  #cart span.inline-span {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 10px;
    float: right;
    text-align: right; } }

#cart:before {
  display: none; }
  @media screen and (max-width: 959px) {
    #cart:before {
      display: block;
      left: -10px;
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 35px 0;
      border-color: transparent #05649f transparent transparent; } }

#cart:after {
  display: none; }
  @media screen and (max-width: 959px) {
    #cart:after {
      top: 0px;
      display: block;
      right: -10px;
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 35px 10px;
      border-color: transparent transparent transparent #05649f; } }

@media screen and (max-width: 959px) {
  span.tiny-text {
    display: none; } }

@media screen and (max-width: 959px) {
  #menu {
    display: none; } }

#mobile-menu {
  display: none;
  padding: 40px 0;
  background-color: #0576bc; }
  #mobile-menu #header-search input, #mobile-menu .search-input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    margin-top: 40px;
    display: block; }
    #mobile-menu #header-search input:last-child, #mobile-menu .search-input:last-child {
      margin-right: 0; }
  #mobile-menu img {
    display: block;
    margin: auto; }
  @media screen and (max-width: 959px) {
    #mobile-menu a {
      text-align: center;
      color: #FFF;
      text-decoration: none;
      font-size: 28px;
      font-weight: bold;
      display: block;
      margin: 30px auto;
      padding: 10px; } }

@media screen and (min-width: 768px) and (max-width: 959px) {
  #top.cleared {
    float: left;
    width: 430px; } }

.mobile-intlnumber {
  display: none;
  margin-top: 45px;
  margin-left: 50px; }
  @media screen and (max-width: 959px) {
    .mobile-intlnumber {
      display: block;
      clear: both; } }
  @media screen and (min-width: 515px) and (max-width: 767px) {
    .mobile-intlnumber {
      font-size: 10px;
      position: absolute;
      top: 0;
      left: 220px;
      margin-top: 40px; } }
  @media screen and (max-width: 514px) {
    .mobile-intlnumber {
      display: none; } }

@media screen and (max-width: 959px) {
  .intlnumber {
    display: none; } }

#hamburger {
  display: none;
  cursor: pointer; }
  @media screen and (max-width: 959px) {
    #hamburger {
      display: block;
      width: 50px;
      height: 35px;
      position: absolute;
      top: 28px;
      right: 80px; } }
  @media screen and (min-width: 515px) and (max-width: 767px) {
    #hamburger {
      right: 40px; } }
  @media screen and (max-width: 514px) {
    #hamburger {
      right: 0; } }

@media screen and (min-width: 515px) and (max-width: 767px) {
  a.logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-top: 5px; }
    a.logo:last-child {
      margin-right: 0; } }
@media screen and (max-width: 514px) {
  a.logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-top: 10px; }
    a.logo:last-child {
      margin-right: 0; } }

#search-parts-area input#search {
  display: block; }
  @media screen and (max-width: 959px) {
    #search-parts-area input#search {
      width: 82%; } }
  @media screen and (max-width: 767px) {
    #search-parts-area input#search {
      width: 100%; } }

@media screen and (max-width: 767px) {
  #search-parts-area form {
    text-align: center; } }

#full-width > h3 {
  margin-top: 2em; }

@media screen and (max-width: 959px) {
  #page-title h1 {
    text-align: center;
    width: 100%;
    border-right: 0 solid transparent; } }

@media screen and (max-width: 767px) {
  #page-title p {
    text-align: center;
    width: 100%;
    padding: 20px; } }

@media screen and (max-width: 959px) {
  .body-find-your-part .featured-part {
    float: none;
    width: 50%;
    margin: 3em auto; } }
@media screen and (max-width: 514px) {
  .body-find-your-part .featured-part {
    width: 75%; } }

@media screen and (max-width: 959px) {
  .result {
    width: 49%; } }
@media screen and (max-width: 767px) {
  .result {
    text-align: center;
    width: 100%; } }

@media screen and (max-width: 767px) {
  .result img {
    float: none;
    margin: 0 auto; } }

@media screen and (max-width: 959px) {
  .part-img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .part-img:last-child {
      margin-right: 0; } }
@media screen and (max-width: 767px) {
  .part-img .part-info-below td {
    padding-left: 5px; } }

@media screen and (max-width: 959px) {
  h3.h3-mobile-styles {
    font-size: 15px !important; } }

@media screen and (max-width: 959px) {
  .part-info-right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    display: block;
    padding-top: 15px;
    padding-left: 0; }
    .part-info-right:last-child {
      margin-right: 0; } }
@media screen and (max-width: 959px) {
  .part-info-right a {
    margin-bottom: 15px; } }

@media screen and (max-width: 514px) {
  .part-info-below table {
    font-size: 13px; } }

@media screen and (max-width: 767px) {
  #part_questions {
    width: 90% !important; } }
@media screen and (max-width: 767px) {
  #part_questions label {
    width: 100%; } }

.sidebar-buttons .green-button {
  background-color: green;
  height: 38px;
  padding: 0; }

@media screen and (max-width: 767px) {
  #field_add_to_cart_submit .green-button {
    height: 38px;
    padding: 0 16px; } }

@media screen and (max-width: 959px) {
  .category-item {
    width: 27%; } }
@media screen and (max-width: 767px) {
  .category-item {
    width: 25%; } }
@media screen and (max-width: 514px) {
  .category-item {
    width: 36%; } }
@media all and (max-width: 960px) {
  #footer .third {
    width: 50%; }

  #footer .third.last {
    margin-top: -170px; } }
@media all and (max-width: 770px) {
  #footer .third {
    width: 100%; }

  #footer .third.second {
    margin-top: 150px; }

  #footer .third.last {
    margin-top: -450px;
    text-align: center; } }
@media all and (max-width: 520px) {
  #footer .third.last {
    margin-top: -510px;
    text-align: center; } }
#content {
  max-width: 692px;
  width: 100%; }

@media screen and (max-width: 959px) {
  #sidebar {
    float: none;
    margin: 0 auto; } }

@media screen and (max-width: 767px) {
  .half {
    width: 100%; } }

@media screen and (max-width: 767px) {
  #field_contact_antispam .textbox {
    margin-right: 17px; } }

@media screen and (max-width: 767px) {
  .submit {
    margin-right: 15px; } }

#sidebar {
  margin-bottom: 2em; }

@media screen and (max-width: 959px) {
  #body-about #content p {
    text-align: left; } }

@media screen and (max-width: 959px) {
  #body-about #content {
    text-align: center; } }

#body-remanufactured-long-block-engines #page-title h1 {
  font-size: 28px; }

#body-remanufactured-long-block-engines #content {
  text-align: center; }

#body-remanufactured-long-block-engines #content p, #body-remanufactured-long-block-engines #content ul {
  text-align: left; }

#body-remanufactured-long-block-engines .img-right {
  width: 100%;
  max-width: 320px; }

#body-remanufactured-long-block-engines .lightbox img {
  width: 100%;
  max-width: 300px; }

@media screen and (max-width: 959px) {
  #full {
    background-position: 450px 10px;
    margin-top: 25px; } }
@media screen and (min-width: 515px) and (max-width: 767px) {
  #full {
    background-position: 200px 10px;
    margin-top: 25px; } }
@media screen and (max-width: 514px) {
  #full {
    background-position: 10px 10px;
    margin-top: 35px; } }

@media screen and (max-width: 959px) {
  #home-page #full-content {
    margin-top: 150px; } }
@media screen and (max-width: 959px) {
  #home-page #attention {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-right: 40%;
    margin-bottom: 40px; }
    #home-page #attention:last-child {
      margin-right: 0; } }
@media screen and (max-width: 767px) {
  #home-page #attention {
    padding: 0; } }
@media screen and (max-width: 767px) {
  #home-page #attention span.large {
    font-size: 30px; } }
@media screen and (max-width: 959px) {
  #home-page #blue-headline {
    text-align: left;
    padding-left: 45px; } }
@media screen and (max-width: 959px) {
  #home-page span.way {
    font-size: 14px;
    padding-left: 15px; } }
@media screen and (max-width: 767px) {
  #home-page .third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 45px;
    margin-right: 0; }
    #home-page .third:last-child {
      margin-right: 0; } }
#home-page .infobox {
  height: auto; }
  @media screen and (max-width: 514px) {
    #home-page .infobox {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 240px;
      margin-right: 0; }
      #home-page .infobox:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 959px) {
    #home-page .infobox {
      height: 340px; } }
  @media screen and (min-width: 515px) and (max-width: 767px) {
    #home-page .infobox img {
      width: 100%; } }

input#search {
  box-sizing: border-box;
  width: 93%; }

input.search-submit {
  background-color: #0576BC;
  color: #FFF;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0 solid transparent;
  height: 32px;
  margin: 5px 0;
  line-height: 0; }

#field_submit-search {
  float: left;
  clear: none; }

#field_search {
  clear: none;
  overflow: auto;
  float: left; }

.search-wrapper {
  overflow: auto; }

@media screen and (max-width: 959px) {
  #field_search {
    width: 100%; } }
@media screen and (max-width: 959px) {
  #field_search input[id="search"] {
    width: 98% !important; } }

@media screen and (max-width: 767px) {
  ul.categories li {
    width: 45%; } }

@media screen and (max-width: 959px) {
  .menu-items {
    display: none; }

  .phone-area {
    display: block;
    height: 35px;
    position: absolute;
    top: 28px; }

  .cart-text {
    display: none; }

  #cart {
    bottom: 70px;
    left: 570px;
    background-color: #0576BC; }

  #cart::before {
    top: 0; }

  #cart::before {
    border-color: transparent #0576BC transparent transparent; }

  #cart::after {
    border-color: transparent transparent transparent #0576BC; }

  #mobile-menu {
    margin-top: -59px; } }
@media screen and (max-width: 767px) {
  #cart {
    bottom: 11px;
    left: 350px; } }
@media screen and (max-width: 514px) {
  #cart {
    bottom: -47px;
    left: 210px; } }
