/* Uncomment the below to do an IE PNG fix -- also include the javascript file
** You can also modify what elements it is applied to
img, div, a { 
	behavior:url(http://api.devcsd.com/js/iepngfix/iepngfix.htc);
} 
*/

.easy-way .number {
	left:-60px;
}
.infobox {
	clear:left;
}
.infobox.last {
	clear:none;
}
#content {
	padding-left:15px;
	float:right;
}
#sidebar {
	clear:both;
}
h3 {
	position:relative;
}
h3 a.back-link {
	position:absolute;
	right:10px;
	top:5px;
	color:white !important;
}